{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <br/>
    <link rel="stylesheet" href="{{absolute_url(asset('css/app.css'))}}">
    <link rel="stylesheet" href="{{absolute_url(asset('css/multi-select.css'))}}">
    <link rel="stylesheet" href="{{absolute_url(asset('css/jquery-ui.css'))}}">

    <div class="title">Wybierz waluty</div>
    <select multiple="multiple" id="my-select" name="my-select[]">
        {% for currency in currencies %}
            <option value='{{ currency.code }}'>{{ currency.code }}</option>


        {% endfor %}
    </select>
    <div class="title">Wybierz zakres dat</div>
    <div id="update-nav">
        <div id="date-selector" class="">
            From:<input type="text" id="fromDate"  class="ui-widget">
            To:<input type="text" id="toDate"  class="ui-widget">
        </div>
    </div>
    <br/>
    <div id="chartContainer" style="height: 360px; width: 100%;"></div>
    <script src="{{absolute_url(asset('js/jquery-ui.js'))}}"></script>
    <script src="{{absolute_url(asset('js/canvas.js'))}}"></script>
    <script src="{{absolute_url(asset('js/jquery.multi-select.js'))}}"></script>
    <script src="{{absolute_url(asset('js/app.js'))}}"></script>

{% endblock %}
