{% extends 'base.html.twig' %}


{% block body %}
    <div class="count">
        {{ pagination.getTotalItemCount }}
    </div>
    <table>
        <tr>
            {# sorting of properties based on query components #}
            {#<th>{{ knp_pagination_sortable(pagination, 'Id', 'c.id') }}</th>#}
            <th{% if pagination.isSorted('c.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'name', 'c.name') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Code', ['c.code', 'c.code']) }}</th>
        </tr>

        {# table body #}
        {% for article in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                {#<td>{{ article.id }}</td>#}
                <td>{{ article.name }}</td>
                <td>{{ article.code }}</td>
            </tr>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
